h1{
    background: chocolate;
    color: white;
    padding: 10px;
    width: 38%;
}
#instructions{
    width: 40%;
    background: beige;
    color: green;
}
.crystals{
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px;
}
.crystal{
    padding: 50px;
    width: 150px;
    height: 150px;
    border: 10px;
}